@font-face {
    font-family: 'Jikharev';
    src: url('/resources/fonts/andantinoscript.ttf') format('truetype');
  
}
@font-face {
    font-family: 'Onest';
    src: url('/resources/fonts/WOFF/OnestThin1602-hint.woff') format('woff'),
         url('/resources/fonts/TTF/OnestThin1602-hint.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Onest';
    src: url('/resources/fonts/WOFF/OnestLight1602-hint.woff') format('woff'),
         url('/resources/fonts/TTF/OnestLight1602-hint.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Onest';
    src: url('/resources/fonts/WOFF/OnestRegular1602-hint.woff') format('woff'),
         url('/resources/fonts/TTF/OnestRegular1602-hint.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Onest';
    src: url('/resources/fonts/WOFF/OnestMedium1602-hint.woff') format('woff'),
         url('/resources/fonts/TTF/OnestMedium1602-hint.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Onest';
    src: url('/resources/fonts/WOFF/OnestBold1602-hint.woff') format('woff'),
         url('/resources/fonts/TTF/OnestBold1602-hint.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Onest';
    src: url('/resources/fonts/WOFF/OnestExtraBold1602-hint.woff') format('woff'),
         url('/resources/fonts/TTF/OnestExtraBold1602-hint.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Onest';
    src: url('/resources/fonts/WOFF/OnestBlack1602-hint.woff') format('woff'),
         url('/resources/fonts/TTF/OnestBlack1602-hint.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
